html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  background-clip: padding-box;
}
html,
body {
  height: 100%;
}
body {
  min-width: 320px;
  max-width: 750px;
  width: 10rem;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "PingFangSC-Regular", "PingFang SC", Arial, Helvetica, Tahoma, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei";
  color: #3C3C3C;
  font-size: 0.293333rem;
  /*22px*/
  font-weight: 400;
  background: #fff;
}
a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
input,
select {
  border: none;
  display: block;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #CCCCCC;
}
/* 如果我们的屏幕超过了 750px  那么我们就按照 750设计稿来走 不会让我们页面超过750px */
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
.fa {
  font-size: 0.6rem;
  font-weight: 500;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.table-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.poa-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pof-center {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.flex-center-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.flex-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.flex-justify {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.flex-vertical-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.html-unscrollable {
  height: 100%;
  overflow: hidden;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.hide {
  display: none;
}
.mb-16 {
  margin-bottom: 0.213333rem;
}
.pb-40 {
  padding-bottom: 0.533333rem;
}
/**
 * 单行文本超过宽度显示为三个点
 */
.dot-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*
多行文本溢出显示省略号
*/
.dot-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.dot-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main {
  background: #fcfcfc;
  font-size: 0.402533rem;
  color: #2f2f2f;
}
.container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.666667rem 0 2rem;
  box-sizing: border-box;
}
.wrap-container {
  padding: 0 0.493333rem 1.333333rem;
  margin-bottom: 1.333333rem;
}
.box-shadow-common {
  border-radius: 0.466667rem;
  box-shadow: 0px 0 0.533333rem rgba(0, 0, 0, 0.3);
}
.bold {
  font-weight: 700;
}
.color-fff {
  color: #fff;
}
.color-8b8b8b {
  color: #8b8b8b;
}
.color-2f2f2f {
  color: #2f2f2f;
}
.font-55 {
  font-size: 0.740667rem;
  line-height: 0.93333rem;
  font-weight: 700;
}
.font-30 {
  font-size: 0.402533rem;
}
.font-32 {
  font-size: 0.437467rem;
}
.font-45 {
  font-size: 0.611867rem;
}
.font-66 {
  font-size: 0.8856rem;
  line-height: 0.933333rem;
  font-weight: 700;
}
.mt-80 {
  margin-top: 1.066667rem;
}
.mt-36 {
  margin-top: 0.48rem;
}
.mb-20 {
  margin-bottom: 0.266667rem;
}
.mr-20 {
  margin-right: 0.266667rem;
}
.mr-30 {
  margin-right: 0.4rem;
}
.pb-26 {
  padding-bottom: 0.346667rem;
}
.mb-0 {
  margin-bottom: 0!important;
}
.mb-40 {
  margin-bottom: 0.533333rem;
}
.mb-30 {
  margin-bottom: 0.4rem;
}
.pa-left-right-40 {
  position: absolute;
  left: 0.533333rem;
  right: 0.533333rem;
}
.pad-left-right-40 {
  padding-left: 0.533333rem !important;
  padding-right: 0.533333rem !important;
}
.br-35 {
  border-radius: 0.466667rem;
}
.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
  background: #ffffff;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
  z-index: 99;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.nav a {
  -webkit-box-flex: 1;
  flex: 1;
  height: 100%;
  text-align: center;
}
.nav a span {
  display: block;
  font-size: 0.266667rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999;
  line-height: 0.293333rem;
}
.nav a .icon {
  margin: 0.186667rem auto 0.133333rem;
  display: block;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav a .icon-home {
  margin-bottom: 0.08rem;
  width: 0.573333rem;
  height: 0.533333rem;
  background-image: url(../images/index/icon-home.png);
}
.nav a .icon-mine {
  width: 0.466667rem;
  height: 0.453333rem;
  background-image: url(../images/index/icon-mine.png);
}
.nav a .icon-learn {
  width: 0.506667rem;
  height: 0.44rem;
  background-image: url(../images/index/icon-learn.png);
}
.nav a.active span {
  color: #1677ff;
}
.nav a.active .icon-home {
  background-image: url(../images/index/icon-home-active.png);
}
.nav a.active .icon-mine {
  background-image: url(../images/index/icon-mine-active.png);
}
.nav a.active .icon-learn {
  height: 0.453333rem;
  background-image: url(../images/index/icon-learn-active.png);
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.7;
  z-index: 100;
}
.z101 {
  z-index: 101;
}
.tel-modal {
  width: 8.293333rem;
  height: 6.64rem;
  background: #fff;
  border-radius: 0.4rem;
  padding: 2.08rem 0.933333rem 0;
}
.tel-modal .txt {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2f2f2f;
  white-space: nowrap;
}
.tel-modal .txt span {
  font-size: 0.48rem;
}
.tel-modal .tel-btn {
  margin: 1.706667rem auto 0;
  display: block;
  width: 6.4rem;
  height: 1.173333rem;
  line-height: 1.173333rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fff;
  background: #189bff;
  border-radius: 0.586667rem;
}
.WeChat-modal {
  padding: 0;
  width: 8.24rem;
  height: 3.973333rem;
}
.icon-close {
  margin: 1.413333rem auto 0;
  width: 1.28rem;
  height: 1.28rem;
}
.ask-questions-modal {
  padding: 0.533333rem 0.533333rem 0;
  width: 8.266667rem;
  height: 8rem;
  background: #fff;
  border-radius: 0.4rem;
}
.ask-questions-modal h3 {
  font-size: 0.4rem;
  font-weight: 500;
  font-family: PingFang SC;
  color: #2F2F2F;
}
.ask-questions-modal .form textarea {
  margin: 0.426667rem 0 0.52rem;
  padding: 0.386667rem 0.373333rem;
  width: 100%;
  height: 4.266667rem;
  background: #F0F0F0;
  font-size: 0.32rem;
  font-family: PingFangSC;
  font-weight: 400;
  color: #2F2F2F;
  line-height: 0.533333rem;
  border: none;
}
.ask-questions-modal .form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8B8B8B;
}
.ask-questions-modal .form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8B8B8B;
}
.ask-questions-modal .form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8B8B8B;
}
.ask-questions-modal .form textarea::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #8B8B8B;
}
.ask-questions-modal .form .save-btn {
  margin: 0 auto;
  display: block;
  width: 6.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  color: #fff;
  font-size: 0.48rem;
  border-radius: 0.6rem;
  background: #189BFF;
  font-family: PingFangSC;
  font-weight: 400;
}
.directory-modal {
  padding: 0 0.533333rem 0;
  width: 8.266667rem;
  height: 6.133333rem;
  background: #fff;
  border-radius: 0.4rem;
  text-align: center;
}
.directory-modal p {
  padding: 1.906667rem 0 1.8rem;
  font-size: 0.453333rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2F2F2F;
}
.directory-modal a.ok {
  width: 6.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  background: #189BFF;
  border-radius: 0.6rem;
  font-size: 0.48rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #fff;
}
.result-modal {
  padding: 1.493333rem 0 0.666667rem;
  width: 8.266667rem;
  height: 8rem;
  background: #fff;
  text-align: center;
  border-radius: 0.4rem;
}
.result-modal .result-des {
  margin-bottom: 1.04rem;
}
.result-modal .result-des .score {
  display: block;
  font-size: 0.453333rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FF6628;
}
.result-modal .result-des .score label {
  font-size: 1.733333rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FF6628;
}
.result-modal .result-des .txt {
  padding: 0.8rem 0 0.213333rem;
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
}
.result-modal .result-des .time {
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #8B8B8B;
}
.result-modal .look-answer {
  width: 6.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #189bff;
  border-radius: 0.6rem;
  font-size: 0.48rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #fff;
}
.rules-modal {
  padding: 0.533333rem 0.4rem 0;
  width: 8.266667rem;
  height: 88vh;
  background: #fff;
  border-radius: 0.4rem;
}
.rules-modal h3 {
  margin-bottom: 0.533333rem;
  text-align: center;
  font-size: 0.4rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #2F2F2F;
}
.rules-modal .rules-info {
  height: 70vh;
  font-size: 0.32rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #2F2F2F;
  line-height: 0.533333rem;
  overflow-y: auto;
}
.rules-modal .rules-info p {
  margin-bottom: 0.666667rem;
}
.rules-modal .color-189BFF {
  color: #189BFF;
}
.rules-modal .ok {
  display: block;
  margin: 0 auto;
  width: 6.4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.48rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background: #189BFF;
  border-radius: 0.6rem;
}
