.recruitment-content .banner {
  width: 100%;
  height: 5.493333rem;
  background: #a2b0c3;
}
.recruitment-content .banner .banner-txt {
  position: absolute;
  top: 1.6rem;
  left: 1.253333rem;
  font-size: 0.4rem;
  color: #1677ff;
  line-height: 1.333333rem;
}
.recruitment-content .tabs {
  height: 1.333333rem;
  background: #f5f5f5;
}
.recruitment-content .tabs li {
  width: 50%;
  height: 1.333333rem;
  line-height: 1.333333rem;
  text-align: center;
  position: relative;
  color: #2f2f2f;
  font-size: 0.426667rem;
  font-family: Adobe Heiti Std;
  font-weight: bold;
}
.recruitment-content .tabs li.active {
  color: #1677ff;
}
.recruitment-content .tabs li.active::after {
  content: '';
  width: 2.146667rem;
  height: 0.106667rem;
  background: #1677ff;
  border-radius: 0.053333rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.recruitment-content .tabs-item {
  padding-bottom: 1.8rem;
}
.recruitment-content .tabs-item .jobs {
  padding: 0.133333rem 0.4rem 0;
}
.recruitment-content .tabs-item .jobs li {
  padding: 0.4rem 0.133333rem 0.4rem 0;
  border-bottom: 1px solid #dddddd;
}
.recruitment-content .tabs-item .jobs li h3 {
  margin-bottom: 0.24rem;
  font-size: 0.4rem;
  color: #8b8b8b;
}
.recruitment-content .tabs-item .jobs li p {
  color: #8b8b8b;
  font-size: 0.293333rem;
}
.recruitment-content .tabs-item .jobs li p span {
  color: #ff6627;
}
.recruitment-content .tabs-item .jobs li .fa {
  color: #8b8b8b;
}
.recruitment-content .tabs-item .recruiters {
  padding: 0 0.4rem;
}
.recruitment-content .tabs-item .recruiters li {
  padding: 0.4rem 0.133333rem 0.4rem 0;
  border-bottom: 1px solid #dddddd;
}
.recruitment-content .tabs-item .recruiters li a {
  color: #8b8b8b;
}
.recruitment-content .tabs-item .recruiters li .img {
  margin-right: 0.4rem;
  width: 1.466667rem;
  height: 1.466667rem;
}
.recruitment-content .tabs-item .recruiters li .info {
  width: 6.666667rem;
}
.recruitment-content .tabs-item .recruiters li .info h4 {
  margin-bottom: 0.213333rem;
  font-size: 0.4rem;
}
.recruitment-content .tabs-item .recruiters li .info p {
  font-size: 0.293333rem;
}
.position-details-content {
  padding: 0 0.4rem;
}
.position-details-content .company-name {
  padding: 0.533333rem 0;
  border-bottom: 1px solid #dddddd;
}
.position-details-content .company-name a {
  color: #8b8b8b;
}
.position-details-content .company-name .img {
  margin-right: 0.4rem;
  width: 1.466667rem;
  height: 1.466667rem;
}
.position-details-content .company-name .info {
  width: 6.666667rem;
}
.position-details-content .company-name .info h4 {
  margin-bottom: 0.213333rem;
  font-size: 0.4rem;
}
.position-details-content .company-name .info p {
  font-size: 0.293333rem;
}
.position-details-content .position-info {
  padding-top: 0.533333rem;
}
.position-details-content .position-info h3 {
  margin-bottom: 0.24rem;
  font-size: 0.4rem;
  color: #2f2f2f;
}
.position-details-content .position-info .position-num {
  margin-bottom: 0.6rem;
  font-size: 0.293333rem;
  color: #8b8b8b;
}
.position-details-content .position-info .position-num span {
  color: #ff6627;
}
.position-details-content .position-info .item {
  margin-bottom: 0.533333rem;
}
.position-details-content .position-info .item h4 {
  margin-bottom: 0.4rem;
  font-size: 0.32rem;
  color: #2f2f2f;
}
.position-details-content .position-info .item p {
  line-height: 0.533333rem;
  font-size: 0.32rem;
  color: #8b8b8b;
}
.position-details-content .position-info .buy-btn {
  margin-top: 1.24rem;
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.4rem;
  color: #fff;
  border-radius: 0.8rem;
  background: #1677ff;
}
.company-details-content {
  padding: 0 0.4rem 1.733333rem;
}
.company-details-content .company-name {
  padding: 0.533333rem 0;
  border-bottom: 1px solid #dddddd;
}
.company-details-content .company-name .info h4 {
  margin-bottom: 0.24rem;
  color: #2f2f2f;
  font-size: 0.4rem;
}
.company-details-content .company-name .info p {
  color: #8b8b8b;
  font-size: 0.293333rem;
}
.company-details-content .company-name .img {
  width: 1.466667rem;
  height: 1.466667rem;
}
.company-details-content .company-info .item {
  margin-top: 0.533333rem;
}
.company-details-content .company-info .item h3 {
  font-size: 0.4rem;
  color: #2f2f2f;
}
.company-details-content .company-info .item p {
  margin-top: 0.4rem;
  font-size: 0.32rem;
  color: #2f2f2f;
  line-height: 0.533333rem;
}
.company-details-content .company-info .item .img-list {
  margin-top: 0.533333rem;
}
.company-details-content .company-info .item .img-list li {
  width: 31%;
  border-radius: 0.133333rem;
}
.company-details-content .company-info .item .jobs {
  padding: 0.133333rem 0;
}
.company-details-content .company-info .item .jobs li {
  padding: 0.4rem 0.133333rem 0.4rem 0;
  border-bottom: 1px solid #dddddd;
}
.company-details-content .company-info .item .jobs li h3 {
  margin-bottom: 0.24rem;
  font-size: 0.4rem;
  color: #8b8b8b;
}
.company-details-content .company-info .item .jobs li p {
  color: #8b8b8b;
  font-size: 0.293333rem;
}
.company-details-content .company-info .item .jobs li p span {
  color: #ff6627;
}
.company-details-content .company-info .item .jobs li .fa {
  color: #8b8b8b;
}
